:root {
    /* Font sizes (fz) */
    --fz-title-big: 3rem;
    --fz-title-middle: 2rem;
    --fz-title-small: 1.5rem;
    --fz-common-text: 1.06rem;
    --fz-common-text-big: 1.3rem;
    /* Colors */
    --red-btn-color: #bf2828;
    --body-bg: #16171b;
    --blocks-color: #2d2f36;
    --blocks-light-color: #3f424c;
    --accent-color: #01b075;
    --font-color: #fefefe;
    --notification-color: #fc4938;
    font-size: 15px;
}

*, *::before, *::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color)
}

body {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper--h {
    flex-direction: row;
}

/* Header */
.header {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blocks-color);
    height: fit-content;
}

.header .container {
    justify-content: space-between;
}

.header__nav {
    justify-content: space-between;
    gap: 20px;
}